* {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}

input,
textarea,
select {
  font-family: inherit;
  color: var(--color-dark-2);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --color-bg: #f4f4f4;
  --color-dark-1: #111;
  --color-dark-2: #181818;
  --color-dark-3: #555;
  --color-dark-4: #999;
  --color-grey-1: #9c9c9c;
}

::selection {
  background-color: var(--color-dark-1);
  color: var(--color-bg);
}
